# Python
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Logs
logs/
*.log

# Local config (DO NOT COMMIT)
app/config/local.yaml

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# data
data/
logs/